.task-list {
    margin-bottom: 20px;
}

.task-list ul {
    list-style-type: none;
    padding: 0;
}

.task-list li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.task-list input {
    margin-right: 10px;
}

.task-list button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
}

.task-list button.update-button {
    background-color: #4caf50;
    /* Updated color */
}

.task-list button.delete-button {
    background-color: #f44336;
}

.task-list button:hover {
    opacity: 0.8;
}